@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <div>     
        <p>Тестовое задание.</p>
        <p>Выполнил:Калимуллин Азат</p>
        @Html.ActionLink("Форма для шифрования", "EncryptForm") 
    </div>
</body>
</html>