@model Test.Models.Message

@{
    ViewBag.Title = "RsvpForm";
}

<h2>RsvpForm</h2>
<!DOCTYPE html>
        <p>Введите сообщение: @Html.TextBoxFor(x => x.Text)</p>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <input type="submit" value="Зашифровать" />
    }
    </div>
    <div>
       @ViewBag.Text
    </div>
</body>
</html>